#bg {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	div {
		background-size: cover;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		visibility: hidden;
		width: 150%;

		&.visible {
		
			visibility: visible;
			z-index: 1;

			&.top {
				z-index: 2;
			}

	}

	body.is-preload & {
		opacity: 0;
	}
}
}